services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: empiiu_user
      POSTGRES_PASSWORD: empiiu_password
      POSTGRES_DB: empiiu_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
